<!-- Header Nav Bar -->
<header class="header-container">
    <div class="row w-100 px-3 d-flex justify-content-between align-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-between d-md-block">
            <a routerLinkActive="active" routerLink="/"><img [src]="siteLogo" class="logo" alt="Site Logo"></a>
            <a routerLinkActive="active" routerLink="/login"><img [src]="logoutLogo" class="logoutLogo d-md-none" alt="logout Logo" (click)="logOut()"></a>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-around d-md-none">
            <a class='nav-link' routerLinkActive="active" routerLink="/">
                <img class="nav-images" src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-icon.png" alt="home-image">
            </a>
            <a class='nav-link' routerLinkActive="active" routerLink="/products">
                <img class="nav-images" src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-products-icon.png" alt="products-image">
            </a>
            <a class='nav-link' routerLinkActive="active" routerLink="/orders">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#616e7c" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                </svg>
            </a>
            <a class='nav-link' routerLinkActive="active" routerLink="/cart">
                <img class="nav-images" src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-cart-icon.png" alt="cart-image">
            </a>
        </div>
        <div class="d-none d-md-block col-md-5">
            <ul class="list-container">
                <li class="home-li">
                    <a class='nav-link' routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="products-li">
                    <a class='nav-link' routerLinkActive="active" routerLink="/products">Products</a>
                </li>
                <li class="cart-li">
                    <a class='nav-link' routerLinkActive="active" routerLink="/orders">Orders</a>
                </li>
                <li class="cart-li">
                    <a class='nav-link' routerLinkActive="active" routerLink="/cart">Cart</a>
                </li>
                <li class="logout-li m-0"><button class="btn btn-primary" (click)="logOut()">Log out</button></li>
            </ul>
        </div>
    </div>
</header>