.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-description-image{
    width: 90%;
    object-fit: contain;
}
.log-in-logo-image{
    width: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}
.login-fom-main-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    box-shadow: var(--form-shadow);
    border-radius: 5px;
}

@media (min-width:768px){
    .login-container{
        height: 90vh;
    }
}

@media (max-width:767px){
    .login-container{
        margin-top: 25px;
    }
}