<section class="login-container container">
    <div class="row d-flex justify-content-around align-items-center">
        <div class="col-6 col-md-7 login-fom-main-container">
            <img class="log-in-logo-image" src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-logo-img.png">
            <!--Signup Form (Reactive)-->
            <form class="form-container" [formGroup]="signUpReactiveForm">
                <label class="bold">User Name</label><br>
                <input class="form-control" type="text" placeholder="Enter User Name" id="userReactive" name="userReactive" formControlName="userReactive">
                <div *ngIf="userReactive?.invalid && (userReactive?.dirty || userReactive?.touched)">
                    <p *ngIf="userReactive?.errors?.['required']" class="errorMsg bold">User Id is Required</p>
                    <p *ngIf="userReactive?.errors?.['minlength']" class="errorMsg bold">User Id must contain minimum 6 charecters.</p>
                </div>
                <label class="bold">Email</label><br>
                <input class="form-control" type="text" placeholder="Enter Email Id" id="EmailReactive" name="EmailReactive" formControlName="EmailReactive">
                <div *ngIf="EmailReactive?.invalid && (EmailReactive?.dirty || EmailReactive?.touched)">
                    <p *ngIf="EmailReactive?.errors?.['required']" class="errorMsg bold">Email Id is Required</p>
                    <p *ngIf="EmailReactive?.errors?.['email']" class="errorMsg bold">Enter Correct Email Id</p>
                </div>
                <label class="bold">Password</label><br>
                <input class="form-control" type="password" placeholder="Enter Password" id="passwordReactive" name="passwordReactive" formControlName="passwordReactive">
                <div *ngIf="passwordReactive?.invalid && (passwordReactive?.dirty || passwordReactive?.touched)">
                    <p *ngIf="passwordReactive?.errors?.['required']" class="errorMsg bold">Password is Required</p>
                    <p *ngIf="passwordReactive?.errors?.['minlength']" class="errorMsg bold">Password must be 8 charecters long</p>
                </div>
                <input type="button" class="form-control btn btn-primary mt-3" value="Sign Up" (click)="onSignUp()">
            </form>
            <!-- Form End -->
            <p class="errorMsg bold">{{msg}}</p>
            <p class="mt-3">Have an Account?<a routerLink="/login">click here</a> to Sing in.</p>
        </div>
        <div class="col-6 col-md-5">
            <img class="log-in-description-image" src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-login-img.png">
        </div>
    </div>
</section>  