.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-description-image{
    display: none;
    width: 90%;
    object-fit: contain;
}
.log-in-logo-image{
    width: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}
.login-fom-main-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

@media (min-width:768px){
    .login-container{
        height: 90vh;
    }
    .log-in-description-image{
        display: block;
    }
    .login-fom-main-container{
        box-shadow: 0 8px 40px rgb(7 7 7 / 8%);
        border-radius: 5px;
    }
}